<p>Sehr geehrte(r) {user.salutation} {user.title} {user.firstName} {user.lastName},</p>
<p> Danke für Ihre Registrierung zur Abstract-Einreichung auf der Website der Vereinigung Süddeutscher Orthopäden und Unfallchirurgen (VSOU) e.V.  Zur Sicherheit und Authentifizierung Ihrer Anmeldung bitten wir Sie, Ihr Benutzerkonto über den nachfolgenden Link zu aktivieren: </p>
<p> <f:link.external uri="{activationLink}">{activationLink}</f:link.external> </p>
<p>
Nach Aktivierung können Sie sich mit Ihren Zugangsdaten über die Website einloggen und Ihre Abstracts einreichen bzw. verwalten.
Bei Fragen stehen wir Ihnen gerne zur Verfügung. 
</p>
<hr />
<p>
Vereinigung Süddeutscher Orthopäden und Unfallchirurgen e.V.<br />
Maria-Viktoria-Strasse 9<br />
D-76530 Baden-Baden<br />
Telefon: +49 (7221) 29683<br />
Fax: +49 (7221) 29604<br />
Internet: <f:link.external uri="http://www.vsou.de/">www.vsou.de</f:link.external>
</p>
