<label for="email">
	<f:translate key="tx_finewsletter_domain_model_recipient.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="firstName">
	<f:translate key="tx_finewsletter_domain_model_recipient.firstName" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_finewsletter_domain_model_recipient.lastName" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="language">
	<f:translate key="tx_finewsletter_domain_model_recipient.language" />
</label><br />
	<f:form.textfield property="language" /><br />
