{namespace fi=Tx_Finewsletter_ViewHelpers}
<label for="email">
	<fi:translatelate key="tx_finewsletter_domain_model_recipient.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="name">
	<fi:translatelate key="tx_finewsletter_domain_model_recipient.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="firstName">
	<fi:translatelate key="tx_finewsletter_domain_model_recipient.firstName" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<fi:translatelate key="tx_finewsletter_domain_model_recipient.lastName" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="language">
	<fi:translatelate key="tx_finewsletter_domain_model_recipient.language" />
</label><br />
	<f:form.select options="{languages}" property="language" /> 
