<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Unsubscribe Recipient</h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<div class="finewsletter finewsletter-unsubscribe">
	<f:form action="remove"  name="recipient" object="{recipient}">
    <label for="email"> <f:translate key="tx_finewsletter_domain_model_recipient.email" /> </label>
    <f:form.textfield property="email" />
	<f:form.submit value="{f:translate(key: 'tx_finewsletter_domain_model_recipient.unsubscribe')}" />
	</f:form>
</div>
</f:section>