<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

<f:render partial="FormErrors" />

<div class="finewsletter finewsletter-verify">
	<f:if condition="{verified}">
		<f:then>
		<form action="">
			<input type="email" readonly="true" value="{verifiedEmail}" />
			<button>√</button>
		</form>
		</f:then>
		<f:else>
			Oops! Da lief wohl etwas schief. Melden Sie sich bitte erneut an. 
		</f:else>
	</f:if>
</div>
</f:section>